*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Tahoma', Monaco, "Courier New", Courier, monospace;
    background-color: #f5f5f5;

}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

p{
   font-size: 15px;
}
a{
    text-decoration: none;
    color:white;
}

.form-centered{
    margin:auto;
    display: flex;
    flex-direction: column;
}

.page_header{
    background-color: #2ecc71;
    padding: 50px 100px;
    color: white;
}
@media (max-width: 768px) {
    .page_header{
        padding:30px 50px;
    }
}
.nav_wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #34495e;
    padding: 30px;
    position: fixed;
    width:100%;
    top:0;
}

.nav_wrapper header{
    margin-left: 30px;
}

.nav_wrapper nav{
    margin-right: 30px;
}


.nav_wrapper ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-right: 30px;
    padding-right: 30px;

}
.nav_wrapper a{
    text-decoration: none;
    color: silver;
    padding: 10px;
}

.nav_wrapper nav a:hover{
    color: white;
}
.toggle-button{
    margin-right: 30px;
    padding-right: 30px;
    cursor: pointer;
}

.toggle-button span{
    display: block;
    background-color: silver;
    width: 30px;
    height:5px;
    margin: 3px;

}

@media (min-width: 768px) {
    .toggle-button{
        display: none;
    }
}

@media (max-width: 768px) {

    .nav_wrapper header{
        margin-left: 10px;
    }
    .nav_wrapper nav{
        display: none;
    }
}

.content_area{
    margin-top: 88px;
}
.form_wrapper{
    background-image: url("../images/carpool.jpg");
    background-repeat: no-repeat;
    display: flex;
    width:100%;
    height: 460px;
    text-align: center;

}



.form_wrapper header{ 
    margin: auto;
    width:100%;
    padding: 5px;
    color: whitesmoke;
}

.form_wrapper form{ 
    margin: auto;
    width:100%;
    padding: 5px;

}

.form_wrapper footer{  
    margin: auto;
    width:100%;
    padding: 5px;
    color: whitesmoke;
}

.about_wrapper{
    display: flex;
    flex-direction: column;
}

.about_header{
    background-color: #2ecc71;
    padding: 20px 100px;
    color: white;
}
.about_header h2{
    padding-bottom: 5px;
}

.about_content{
    display: flex;
    justify-content:space-between;
    padding: 30px 100px;
}
.about{
    width:30%;
}
.about hr{
    margin-bottom: 5px;
}
.about h2{
    padding-bottom: 20px;
}

@media (max-width: 768px ) {

    .about_header{
        padding: 20px 40px;
    }
    .about_content{
        display: flex;
        flex-direction: column;
        padding: 30px 50px;
    }

    .about{
        width: 100%;
        margin-bottom: 20px;
    }
}


.footer_wrapper{
    display: flex;
    flex-direction: column;
    color: silver;

}

.top_footer_section{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    background-color: #34495e;
    padding:50px 100px;

}

.footer_column{
    width:30%;
}

.footer_column h1{
    padding-bottom:20px;
    font-size: large;
    color: white;
}

.bottom_footer_section{
    background-color: #2c3e50;
    font-style: italic;
    padding: 20px 100px;
}

@media (max-width: 768px) {
    .top_footer_section{
        display: flex;
        flex-direction:column;
        padding: 30px 50px;

    }

    .footer_column{
        margin-bottom: 20px;
        width:100%;

    }
    .bottom_footer_section{
        padding: 30px 30px;
    }
}

.profile_wrapper{
    display: flex;
    flex-direction: column;
    padding: 50px 10%;
    width: 80%;
}

.profile_top{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
}

@media (max-width: 768px) {
    .profile_top{
        display: flex;
    flex-direction:column;
    }
}



.user_summary_info{
    flex-basis:80%;
    padding: 15px;
}

.username_edit_profile{
    display: flex;
    padding: 5px;
    margin: 5px;
}
@media (max-width: 768px) {
    .username_edit_profile{
        display: block;
    }
}

.username_edit_profile h2{
    font-size: 32px;
    margin-right: 15px;

}

.username_edit_profile button{
    font-size: 14px;
    padding: 2px 10px;
    text-align: center;
    border:1px solid silver;
    border-radius: 4px;
    width: 150px;
    margin-left: 15px;
    cursor: pointer;
}


.rides_count{
    padding: 5px;
    margin: 5px;
}

.rides_count ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;

}

.rides_count ul li{
    padding: 5px;
}

.rides_count span{
    font-weight: bolder;
}

.rides_count ul li a{
    text-decoration: none;
}


li.inactive_ride_status{
   
    background-color: silver;
    border-radius: 10px;
    margin-right: 5px;
}
li.inactive_ride_status a{
    color: #34495e;
}

li.active_ride_status{
 
    background-color: #34495e;
    border-radius: 10px;
    margin-right: 5px;
}
li.active_ride_status a{
    color: white;
}

li.create_ride_link{
    background-color: #2ecc71;
    border-radius: 20%;
    font-weight: bolder;
    font-size: large;
}

li.create_ride_link span{
    background-color: silver;
    border-radius: 10%;
    color: white;
}


.user_bio{
    padding: 5px;
    margin: 5px;
}

