*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Tahoma', Monaco, "Courier New", Courier, monospace;
    background-color: #f5f5f5;

}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

p{
   font-size: 15px;
}
a{
    text-decoration: none;
    color:white;
}



table {
    border-collapse: collapse;
}

table, th, td {
   border: 1px solid black;

}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;

}
input textarea, select{
    padding: 5px;
    margin: 5px;
}

input[type='text'], input[type='password'], input[type='number'], input[type='date'], textarea, select, input[type='email']{
    border:1px solid silver;
    border-radius: 4px;
    color: #34495e;
    font-style: normal;
    font-size: 15px;
    margin: 5px;
    padding: 5px 0 5px 5px;


}

input[type='submit']{
    background-color: #2ecc71;
    color: white;
    border:1px solid #2ecc71;
    border-radius: 4px;
    cursor: pointer;
    padding: 5px;

}

form .form-group{
    display: flex;
    flex-direction: row;
    padding: 5px;
}

@media (max-width: 768px) {

    form .form-group {
        display: flex;
        flex-direction: column;
    }
}


.form-group label{
    width:10%;
    margin: 5px 5px 5px 0;
}

.form-group input, textarea, select{
    width:90%;
    margin: 5px 0;

}

.form-centered{
    margin:auto;
    display: flex;
    flex-direction: column;
}

.page_header{
    background-color: #2ecc71;
    padding: 50px 100px;
    color: white;
}
@media (max-width: 768px) {
    .page_header{
        padding:30px 50px;
    }
}
.nav_wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #34495e;
    padding: 30px;
    position: fixed;
    width:100%;
    top:0;
}

.nav_wrapper header{
    margin-left: 30px;
}

.nav_wrapper nav{
    margin-right: 30px;
}


.nav_wrapper ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-right: 30px;
    padding-right: 30px;

}

.nav_wrapper a{
    text-decoration: none;
    color: silver;
    padding: 10px;
}

.nav_wrapper nav a:hover{
    color: white;
}

.toggle-button{
    margin-right: 30px;
    padding-right: 30px;
    cursor: pointer;
}

.toggle-button span{
    display: block;
    background-color: silver;
    width: 30px;
    height:5px;
    margin: 3px;

}

@media (min-width: 768px) {
    .toggle-button{
        display: none;
    }
}

@media (max-width: 768px) {
    
    .nav_wrapper header{
        margin-left: 10px;
    }
    .nav_wrapper nav{
        display: none;
    }
}

.content_area{
    margin-top: 88px;
}
.form_wrapper{
    background-image: url("../images/carpool.jpg");
    background-repeat: no-repeat;
    display: flex;
    width:100%;
    height: 460px;
    text-align: center;

}



.form_wrapper header{ /
    margin: auto;
    width:100%;
    padding: 5px;
    color: whitesmoke;
}

.form_wrapper form{ 
    margin: auto;
    width:100%;
    padding: 5px;

}

.form_wrapper footer{ 
    margin: auto;
    width:100%;
    padding: 5px;
    color: whitesmoke;
}


form.sign_in_form{
    display: flex;
    flex-direction:column;

}

.sign_in_form input[type='text'], input[type='password'], input[type='email']{
    background: silver;
}
.sign_in_form input[type='number']{
    background: silver;
}

@media (min-width: 768px) {
    .form_wrapper header{
        /* width:30%; */
    }

    form .sign_in_form{
        width:30%;
    }
    .form_wrapper footer{
        /* width:30%; */
    }
}
.about_wrapper{
    display: flex;
    flex-direction: column;
}

.about_header{
    background-color: #2ecc71;
    padding: 20px 100px;
    color: white;
}
.about_header h2{
    padding-bottom: 5px;
}

.about_content{
    display: flex;
    justify-content:space-between;
    padding: 30px 100px;
}
.about{
    width:30%;
}
.about hr{
    margin-bottom: 5px;
}
.about h2{
    padding-bottom: 20px;
}

@media (max-width: 768px ) {

    .about_header{
        padding: 20px 40px;
    }
    .about_content{
        display: flex;
        flex-direction: column;
        padding: 30px 50px;
    }

    .about{
        width: 100%;
        margin-bottom: 20px;
    }
}


.footer_wrapper{
    display: flex;
    flex-direction: column;
    color: silver;

}

.top_footer_section{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    background-color: #34495e;
    padding:50px 100px;

}

.footer_column{
    width:30%;
}

.footer_column h1{
    padding-bottom:20px;
    font-size: large;
    color: white;
}

.bottom_footer_section{
    background-color: #2c3e50;
    font-style: italic;
    padding: 20px 100px;
}

@media (max-width: 768px) {
    .top_footer_section{
        display: flex;
        flex-direction:column;
        padding: 30px 50px;

    }

    .footer_column{
        margin-bottom: 20px;
        width:100%;

    }
    .bottom_footer_section{
        padding: 30px 30px;
    }
}